body {
    padding-top: 20px;
    margin: 0px;
}

#logo {
    max-width: 400px;
}

#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: white;
    padding-left: 10px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 400px;
}

#navbar li {
    float: left;
}

#navbar li:hover {
    background-color: #182b49;
}

#navbar li a {
    display: block;
    color: rgb(0, 0, 0);
    font-size: 28px;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}

#navbar li a:hover {
    color: white;
}

#s1-img, #s2-img {
    max-width: 100%;
}


.S1 {
    background-color: rgb(245, 240, 230);
    display: inline-block;
    scroll-margin-top: 147.2px;
    padding-left: 20px;
    padding-right: 20px;
}

.S2 {
    background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
    display: inline-block;
    scroll-margin-top: 147.2px;
    padding-left: 20px;
    padding-right: 20px;
}

.S2 h2, .S2 p {
    color: white;
}

p {
    font-size: 28px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.grid-element {
    background-color: #182b49;
    max-height: 500px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: scroll;
}

.grid-element p {
    color: white

}

@media screen and (max-width: 800px) {
    #navbar ul {
        display: none;
    }

    #logo {
        max-width: 75%;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 20px;
    }

    .grid-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}